<div class="auth-page">
  <div class="auth-bento auth-bento--narrow">
    <div class="auth-bento__body">
      <img class="auth-bento__logo" [src]="branding.getLogoSrc()" alt="" width="56" height="56" />
      <h1 class="auth-bento__title">{{ 'forgot.title' | translate }}</h1>
      <p class="auth-bento__lead">{{ 'forgot.lead' | translate }}</p>
      <ul class="auth-bento__list">
        <li>{{ 'forgot.bulletSignedIn' | translate }}</li>
        <li>{{ 'forgot.bulletGoogle' | translate }}</li>
        <li>{{ 'forgot.bulletSchool' | translate }}</li>
      </ul>
      <div class="auth-bento__actions">
        <a routerLink="/login" class="btn-primary">{{ 'forgot.backLogin' | translate }}</a>
        <a routerLink="/login" [queryParams]="{ register: '1' }" class="btn-ghost">{{ 'forgot.createAccount' | translate }}</a>
      </div>
    </div>
  </div>
</div>
