<div class="auth-page">
  <div class="auth-bento">
    <div class="auth-bento__accent" aria-hidden="true"></div>
    <div class="auth-bento__body">
      <img class="auth-bento__logo" [src]="branding.getLogoSrc()" alt="" width="56" height="56" />

      <div class="auth-tabs" role="tablist">
        <button
          type="button"
          class="auth-tabs__btn"
          [class.auth-tabs__btn--active]="!isRegisterMode"
          (click)="setMode(false)"
        >
          {{ 'login.loginTab' | translate }}
        </button>
        <button
          type="button"
          class="auth-tabs__btn"
          [class.auth-tabs__btn--active]="isRegisterMode"
          (click)="setMode(true)"
        >
          {{ 'login.register' | translate }}
        </button>
      </div>

      <ng-container *ngIf="!isRegisterMode">
        <p class="auth-bento__lead">{{ 'login.subtitleLogin' | translate }}</p>
        <form class="auth-form" [formGroup]="loginForm" (ngSubmit)="submitLogin()" novalidate>
          <label class="auth-field">
            <span class="auth-field__label">{{ 'login.email' | translate }}</span>
            <input
              type="email"
              formControlName="email"
              class="auth-field__input"
              [placeholder]="'login.emailPlaceholder' | translate"
              autocomplete="username"
            />
          </label>
          <label class="auth-field">
            <span class="auth-field__label">{{ 'login.password' | translate }}</span>
            <input
              type="password"
              formControlName="password"
              class="auth-field__input"
              [placeholder]="'login.passwordPlaceholder' | translate"
              autocomplete="current-password"
            />
          </label>
          <div class="auth-row">
            <a routerLink="/forgot-password" class="auth-link">{{ 'login.forgotPassword' | translate }}</a>
          </div>
          <button type="submit" class="btn-primary">{{ 'login.loginSubmit' | translate }}</button>
        </form>
      </ng-container>

      <ng-container *ngIf="isRegisterMode">
        <p class="auth-bento__lead">{{ 'login.subtitleRegister' | translate }}</p>
        <form class="auth-form" [formGroup]="registerForm" (ngSubmit)="submitRegister()" novalidate>
          <label class="auth-field">
            <span class="auth-field__label">{{ 'login.username' | translate }}</span>
            <input
              type="text"
              formControlName="username"
              class="auth-field__input"
              [placeholder]="'login.usernamePlaceholder' | translate"
              autocomplete="name"
            />
          </label>
          <label class="auth-field">
            <span class="auth-field__label">{{ 'login.email' | translate }}</span>
            <input
              type="email"
              formControlName="email"
              class="auth-field__input"
              [placeholder]="'login.emailPlaceholder' | translate"
              autocomplete="email"
            />
          </label>
          <label class="auth-field">
            <span class="auth-field__label">{{ 'login.password' | translate }}</span>
            <input
              type="password"
              formControlName="password"
              class="auth-field__input"
              [placeholder]="'login.passwordPlaceholder' | translate"
              autocomplete="new-password"
            />
          </label>
          <button type="submit" class="btn-primary">{{ 'login.registerSubmit' | translate }}</button>
        </form>
      </ng-container>

      <div class="auth-divider"><span>{{ 'login.or' | translate }}</span></div>
      <p class="social-lead">{{ 'login.googleLead' | translate }}</p>
      <div class="social-row">
        <div #googleButton class="google-host"></div>
      </div>

      <p class="hint hint--error" *ngIf="errorMessage">{{ errorMessage }}</p>
      <p class="hint hint--info" *ngIf="infoMessage && !errorMessage">{{ infoMessage }}</p>
    </div>
  </div>
</div>
